django==4.1.5
django-cors-headers==3.13.0
django-rest-framework==0.1.0

pillow==9.4.0

pyjwt==2.6.0

pypdfium2==3.19.0

gunicorn==20.1.0

cloudinary==1.31.0

python-dotenv==0.21.1

mypy==0.991
black==22.12.0
autoflake==2.0.0
pep8-naming==0.13.3
types-requests==2.28.11.7
flake8-commas==2.1.0
flake8-bugbear==23.1.14
flake8-builtins==2.1.0
flake8-import-order==0.18.2
flake8-variables-names==0.0.5

psycopg2-binary==2.9.5
